@font-face {
	font-family: 'SinaNova';
	src:
		local('Sina Nova'),
		local('Sina-Nova'),
		url('sina_nova.ttf') format('truetype');
	font-style: normal;
}

* {
    font-family: SinaNova, serif;
}

h1 {
    color: 	#b00000;
}

a {
    color: #b00000;
}

a:visited {
    color: #7e0000;
}


#gallery {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#images {
    display: flex;
    margin: 2px;
}

#gallery img {
    display: inline-block;
    position: relative;
    margin: 1px;
    min-width: 0;
    object-fit: contain;
}

.hover-item {
    position: relative; 
    display: inline-block; 
    padding-right: 10em;
}

.hover-image {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -20em;
  width: 40em; 
	height: auto;
	float: right;
}



.hover-item:hover .hover-image {
  display: block;
}
