* {
    font-family: serif;
}

h1 {
    color: 	#b00000;
}

a {
    color: #b00000;
}

a:visited {
    color: #7e0000;
}


#gallery {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#images {
    display: flex;
    margin: 2px;
}

#gallery img {
    display: inline-block;
    position: relative;
    margin: 1px;
    min-width: 0;
    object-fit: contain;
}
